# Track sample ENV settings used in production or locally in dev/test

ACTION_MAILER_HOST=localhost
ACTION_MAILER_PORT=3000
NOTIFICATION_MAILER_ADDRESS=noreply@equushub.com

SIDEKIQ_USERNAME=equushub
SIDEKIQ_PASSWORD=horses
GOOGLE_MAPS_API_KEY=xxx

S3_ACCESS_KEY=xxx
S3_SECRET_KEY=xxx
CLOUDFRONT_UPLOADS_HOST=http://localhost:3000
S3_UPLOADS_BUCKET=xxx

COGNITO_ANON_UPLOAD_BUCKET="equus-hub-lotus-uploads-congito"

STRIPE_API_KEY="sk_test_Dnu6JGX3d0pgm3nHG2zGg4vL"
